<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<style>
  @page {
    size: A4 landscape;
    margin: 0;
  }

  body {
    font-family: "Arial", sans-serif;
    text-align: center;
    /*background: url('background.png') no-repeat center center;*/
    background-size: cover;
    width: 90%;
    height: 100%;
    padding: 40px 60px;
    box-sizing: border-box;
    position: relative;
  }

  .logo {
    margin-top: 10px;
  }

  .certificate-title {
    color: #2b4ea2;
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0 0;
  }

  .subtitle {
    font-size: 26px;
    font-weight: bold;
    margin: 5px 0 20px;
  }

  .award-text {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .recipient {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
  }

  .course-name {
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0 10px;
  }

  .award-icon {
    position: absolute;
    top: 60px;
    right: 100px;
    width: 200px;
    height: 200px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 70px;
    left: 80px;
    right: 80px;
  }

  .section {
    width: 28%;
    text-align: center;
  }

  .footer-line {
    border-top: 1px solid black;
    width: 80%;
    margin: 0 auto 6px auto;
  }

  .signature {
    width: 140px;
    margin: 0 auto 0 auto;
  }

  .signature img {
    width: 100%;
    height: auto;
  }

  .qr {
    width: 120px;
    height: 120px;
    border: 1px solid #ccc;
    padding: 5px;
    background: white;
    margin: 0 auto 5px auto;
  }

  .qr img {
    width: 100%;
    height: auto;
  }

</style>
</head>
<body>
  <img class="logo" src="company-logo.png" alt="Company Logo" width="220" />

  <h1 class="certificate-title">CERTIFICATE</h1>
  <h2 class="subtitle">OF RECOGNITION</h2>

  <p class="award-text">the following award is given to</p>
  <p class="recipient">{{StudentName}}</p>
  <p>Has completed {{CourseHours}} hours of hands-on training in</p>
  <p class="course-name">{{CourseName}}</p>

  <img class="award-icon" src="award-icon.png" alt="Award Icon" />

  <div class="footer">
    <div class="section">
      <div class="qr">
        <img src="{{QRCodeBase64}}" alt="QR Code">
      </div>
      <p><strong>Course Information</strong></p>
    </div>

    <div class="section">
	  <p><strong>{{TodayDate}}</strong></p>
      <div class="footer-line"></div>
      <p>Date Completed</p>
      <p>Student ID {{StudentId}}</p>
    </div>

    <div class="section">
      <div class="signature">
        <img src="signature.png" alt="Signature" />
      </div>
	  <div class="footer-line"></div>
      <p><strong>Mike Glass</strong></p>
      <p>Instructor</p>
    </div>
  </div>
</body>
</html>